.-bin-list {
	[data-number] {
		text-align: right;
	}
	[data-number=positive] {
		color: $positive;
	}
	[data-number=negative] {
		color: $negative;
	}

	span {
		display: inline-block;
		border-radius: 5px;
		padding: 5px 10px;
		border: 1px solid $grey;
		background: $white;
	}

	label {
		font-weight: bold;
	}
}

#marketList {
	.el-row {
		padding: 5px;

		span:first-child {
			background: $grey;
			color: $white;
		}
	}
}

#assetList {
	> div > .el-row {
		background: $grey;
		padding: 5px 10px;
		border-radius: 5px;
	}
	
	> div > div > .el-row {
		span {
			margin: 2px 0;
			width: 100%;
		}
	}
}
