.-bin-list {
	[data-number] {
		text-align: right;
	}
	[data-number=positive] {
		color: $positive;

		&.highlight {
			color: $white;
			background: $positive;
		}
	}
	[data-number=negative] {
		color: $negative;

		&.highlight {
			color: $white;
			background: $negative;
		}
	}
	[data-number=dimmed] {
		color: $light;
	}

	span.-bin-operator {
		font-weight: bold;
		color: $white;
	}

	span.-bin-cell {
		display: inline-block;
		border-radius: 5px;
		padding: 5px 10px;
		border: 1px solid $grey;
		background: $white;
		transition: all 0.5s ease;
		cursor: pointer;
		position: relative;

		&:hover {
			background: $highlight;
			border: 1px solid $dark;
			color: $black;
		}

		.-bin-change {
			position: absolute;
			left: 2px;
			top: 2px;

			&.-bin-change-up {
				color: $positive;
			}

			&.-bin-change-down {
				color: $negative;
			}
		}
	}

	label {
		font-weight: bold;
		cursor: inherit;
	}
}

#marketList {
	.el-row {
		padding: 5px 10px;

		span.-bin-cell:first-child {
			background: $grey;
			color: $white;
		}

		span.-bin-cell {
			width: 160px;
		}
	}
}

#assetList {
	> div > .el-row {
		background: $dark;
		padding: 5px 10px;
		border-radius: 5px;

		span.-bin-cell {
			width: 160px;
		}
	}
	
	> div > div > .el-row {
		span.-bin-cell {
			margin: 2px 0;
			width: 100%;
		}
	}
}

.-bin-headerControls {
	position: absolute;
	right: 5px;
	top: 6px;
}
