@import './vars.scss';

main {
  background: $darkest;

  .el-card {
    background: $dark;
    border: 1px solid $grey;
    margin-bottom: 10px;

    .el-card__header {
      font-weight: bold;
      color: $white;
      border-color: $light;
      position: relative;
    }

    .el-card__body {
      background: $lightest;
    }

  }

  .el-table {
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }
}

.info {
  background-color: #fdf6ec;
  padding: 8px 16px;
  border-radius: 4px;
  border-left: 5px solid #e6a23c;
  line-height: 1.8em;
}
