@import './mixins.scss';
$sidebar-size: 260px;
$grey: #78909C;
$white: #fff;
$black: #000;
$header-height: 60px;
$highlight: #CFD8DC;
$light: #B0BEC5;
$dark: #546E7A;
$positive: #4f7231;
$negative: #770d0d;